@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 2, 6, 23;
  --background-start-rgb: 199, 210, 254;
  --background-end-rgb: 196, 181, 253;
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 199, 210, 254;
    --background-end-rgb: 2, 6, 23;
    --background-start-rgb: 15, 23, 42;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}